<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>data</key>
		<dict>
			<key>level.practice</key>
			<string>练习</string>
			<key>level.level1</key>
			<string>第一关</string>
			<key>level.level2</key>
			<string>第二关</string>
			<key>label.score</key>
			<string>分数</string>
			<key>label.kill</key>
			<string>杀敌</string>
			<key>label.backMenu</key>
			<string>返回主菜单</string>
			<key>setting.rollbar</key>
			<string>摇杆怀旧</string>
			<key>setting.touch</key>
			<string>手指触摸</string>
			<key>setting.rollbartip</key>
			<string>(摇杆怀旧模式仅适用于练习)</string>			
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>1</integer>
		</dict>
    </dict>
</plist>
